@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    @apply bg-slate-100;
  }
  :root.dark #app {
    @apply bg-slate-900;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }

  ul{
    list-style: none;
    & li{
      font-size: larger;
    }
    li{
      color: theme(colors.cyan.600);
    }
  }
}
